body {
  background-color: #fadc62;
  color: #bf0005;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vh;
  
}
.container {
  width: 60vw;
  border: 2px solid #bf0005;
  background-color: #fff097;
}
.orderBox {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffea00;
  padding: 2vw;
}

#header-img {
  width: 60vw;
}

#completeMe {
  display: none;
  align-content: center;
}

#holypizza {
  display: none;
  background-color: #fadc62;
}
#receiptbox {
  display: flex;
  align-content: space-around;
  background-color: #fadc62;
  padding: 2vw;
  border: 2px solid #bf0005;
}
