body {
  background-color: #fadc00;
  color: #bf0005;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vh;
  
}
.container {
  width: 60vw;
}
.orderBox {
  display:flex;
  justify-content: space-around;
  background-color: #fadc62;
  padding: 2vw;
}

#header-img {
  width: 60vw;
}

#completeMe {
  display: none;
}

#finalOrder {
  display: none;
}